:root {
    --oxford-blue: rgba(12, 9, 49, 1);
    --midnight-blue: rgba(29, 24, 86, 1);
    --red-purple: rgba(232, 0, 116, 1);
    --sky-blue-caryola: rgba(0, 207, 229, 1);
    --ghost-white: rgba(242, 242, 247, 1);
}