@font-face {
    font-family: 'TT Norms PRO';
    src: url('/fonts/TTNormsPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms PRO Bold';
    src: url('/fonts/TTNormsPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --oxford-blue: rgba(12, 9, 49, 1);
    --midnight-blue: rgba(29, 24, 86, 1);
    --red-purple: rgba(232, 0, 116, 1);
    --sky-blue-caryola: rgba(0, 207, 229, 1);
    --ghost-white: rgba(242, 242, 247, 1);


    --font-regular: 'TT Norms PRO', Arial, sans-serif;
    --font-bold: 'TT Norms PRO Bold', Arial, sans-serif;
}

 